@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap");

.products__wrapper {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(3, 360px);
    grid-auto-rows: 500px;
    gap: 20px;
}

.container {
    padding-top: 100px;
}

.container__products {
    padding-top: 10px;
}